.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  height: 80px;
}

.topnav-left {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 7px;
}
.topnav img {
  height: 40px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display:none;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
}

.topnav span.active {
  background-color: #4caf50;
  color: white;
}

.topnav-right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 4px;
  text-decoration: none;
  font-size: 17px;
}

@media only screen and (min-width: 768px) {
  .topnav {
    background-color: #333;
    overflow: hidden;
    min-height: 85px;
  }

  /* Style the links inside the navigation bar */
  .topnav-left {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav img {
    margin-top: 20px;
    width: 100px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
  }

  /* Change the color of links on hover */
  .topnav span:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav span.active {
    background-color: #4caf50;
    color: white;
  }

  .topnav-right {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}