.buyButton{
  background-color: transparent;
  border-color: orange;
  color: orange;
}

.buyButton:hover{
  cursor: pointer;
}

.minibutton{
  display: none;
}

@media only screen and (max-width: 768px) {

.minibutton{
  background-color: transparent;
  border-color: orange;
  color: orange;
  display: block;
}

.mini{
  display: none;
}

}