
.reviewTitle{
    font-size: 32px;
    color:white;
}

.reviewContainer{
    background-color: #333;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.reviewBody{
    font-size: 20px;
    color:white;
}

.reviewImg-left{
  
    width:100%;
    display: block;
    margin-right:20px;
    border-radius:5px;
}
.reviewImg-right{
    margin-right:20px;
    width: 100%;
    display: block;
    border: solid 3px black;
    
}

.rating-span{
   display:none;
    margin-right: 70px;
    font-size: 100px;
    background-color: white;
    border-radius: 5px;
}
@media only screen and (min-width: 768px) {
.reviewTitle{
    font-size: 32px;
    color:white;
}

.reviewContainer{
    background-color: #333;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.reviewBody{
    font-size: 26px;
    color:white;
}

.reviewImg-left{
  
    height: 500px;
    display: block;
    float:left;
    margin-right:20px;
    border-radius:5px;
}
.reviewImg-right{
    margin-right:20px;
    float:right;
    width: 400px;
    height: 300px;
    border: solid 3px black;
    
}

.rating-span{
    float:right;
    margin-right: 70px;
    font-size: 100px;
    background-color: white;
    border-radius: 5px;
}
}

