.banner {
    display: block;
}

.bannerImg{
   width:100%;
}

main {
    flex-grow: 1;
    padding: 10px;
    background-color: grey;
}
/* 
.blockDis{
    display: flex;
} */

.changeme{
    width:100%;
    height: 300px;
}