.imgFeatureReview{
    width: 70%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.featuredVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.containerFeaturedReview{
    text-align: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}