.productList{
    margin: 0 auto;
 }

.store-grid{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}
.product-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

