
.profileContainer{
    width: 80%;
    margin-left: 10%;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

html{
    background-color: rgb(70, 69, 69);
}

.customHr{
    background-color: white;
    width: 90%;
    height: 2px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.rewardsList{
    display:block;
    margin-left: 50px;
}
.rewardsList div{
    display:block;
    padding: 5px;
}

.profilePic{
    background-color: rgb(21, 17, 34);
    border-radius:30px;
    border: white 3px solid;
    float:left;
}

.welcomeText{
    font-size: 30px;
    padding-bottom:90px;
}