.review-nav{
    margin-top: -10px;
    margin-left: -10px;
    background-color: #333;
    display:grid;
    grid-gap: -50px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
}

.review-nav ul li{
    list-style: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: -40px; 
}


.review-nav span{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: white 1px solid;
    border-radius: 2px;
    padding-bottom: 40px; 
}

.review-nav li:hover {
    background-position-x: -10px; 
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }