.reviewList{
   margin: 0 auto;
}

.containerTopReviews{
    text-align: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.titleTopReviews{
    font-size: 30px;
    font: bold;
}

.imgTopReviews{
    width: 400px;
    height: 400px;
}